<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{'/chat'}" th:object="${chatForm}" method="POST">
  <label for="messageText">Message Text:</label>
  <input id="messageText" type="text" name="messageText" th:field="*{message}">
  <label for="messageType">Message Type: </label>
  <select id="messageType" name="messageType" th:field="*{messageType}">
    <option selected th:value="say" th:text="say">Say</option>
    <option th:value="shout" th:text="shout">Shout</option>
    <option th:value="whisper" th:text="whisper">Whisper</option>
  </select>
  <input id="submitMessage" type="submit">
</form>

<div th:each="chatMessage : ${messages}">
  <span class="chatMessageUsername" th:text="${chatMessage.username}">Username</span>: <span class="chatMessageText" th:text="${chatMessage.messagetext}">Hello, world!</span>
</div>
</body>
</html>